exclude: '.name|.gradle/*'
repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-json
        -   id: check-added-large-files
  -   repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
      rev: v2.9.0
      hooks:
        -   id: pretty-format-java
            args: [--autofix]
        -   id: pretty-format-kotlin
            args: [--autofix]
  -   repo: https://github.com/dustinsand/pre-commit-jvm
      rev: v0.7.0
      hooks:
        -   id: detekt
            args: [ --config, detekt-config.yml ]
#        -   id: ktlint
#            args: [ --format ]
